streamlit
fastapi
uvicorn
python-dotenv
requests
pandas
numpy
scikit-learn
llama-index
llama-index-embeddings-azure-openai
llama-index-llms-azure-openai
llama-index-vector-stores-qdrant
qdrant-client
azure-identity>=1.16.0
azure-keyvault-secrets
azure-storage-blob
azure-ai-evaluation
pyodbc
python-multipart 
gunicorn 
sqlalchemy